<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalec.ex.Dao.MemberDAO">

	 
	  <insert id="signUp">	
	    	insert into d_member
	    		(d_name, d_id, d_pw, d_email1, d_email2,
				 d_email_check, d_zipcode, d_address,
			     d_phone1, d_phone2, d_phone3, d_sms, d_tel1, d_tel2, d_tel3, d_birth_yy, d_birth_mm, d_birth_dd, d_sl)
			values
			     (#{d_name},#{d_id},#{d_pw},#{d_email1},#{d_email2},
				  #{d_email_check},#{d_zipcode},#{d_address},
				  #{d_phone1},#{d_phone2},#{d_phone3},
				  #{d_sms},#{d_tel1},#{d_tel2},#{d_tel3},#{d_birth_yy},#{d_birth_mm},#{d_birth_dd},#{d_sl})
	 </insert>
	

</mapper>