<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalec.ex.dao.MemberDAO">

	<!-- 회원리스트 -->
	<select id="memberList" resultType="com.javalec.ex.dto.MemberDTO">
		select 
			d_name as d_name,
			d_id as d_id,
			d_pw as d_pw,
			d_email1 as d_email1,
			d_email2 as d_email2,
			d_zipcode as d_zipcode,
			d_address as d_address,
			d_phone1 as d_phone1,
			d_phone2 as d_phone2,
			d_phone3 as d_phone3,
			d_birth_yy as d_birth_yy,
			d_birth_mm as d_birth_mm,
			d_birth_dd as d_birth_dd,
			d_email_check as d_email_check,
			d_sms as d_sms,
			d_date as d_date
			
		from d_member
		order by d_id
	</select>

	 
	 <!-- 회원가입 -->
	  <insert id="insertMember">	
	    	insert into d_member
	    		(d_name, d_id, d_pw, d_email1, d_email2,
				 d_email_check, d_zipcode, d_address,
			     d_phone1, d_phone2, d_phone3, d_sms, d_tel1, d_tel2, d_tel3, d_birth_yy, d_birth_mm, d_birth_dd, d_sl)
			values
			     (#{d_name},#{d_id},#{d_pw},#{d_email1},#{d_email2},
				  #{d_email_check},#{d_zipcode},#{d_address},
				  #{d_phone1},#{d_phone2},#{d_phone3},
				  #{d_sms},#{d_tel1},#{d_tel2},#{d_tel3},#{d_birth_yy},#{d_birth_mm},#{d_birth_dd},#{d_sl})
	 </insert>
	 
	 <!-- 로그인 -->
		<select id="loginCheck" resultType="com.javalec.ex.dto.MemberDTO">
		 select
		     d_name, d_id, d_pw, verify
		 from
		     d_member
		 where d_id = #{d_id}
		</select>
		
	<!-- 회원정보수정 -->
		<update id="memberUpdate">
			update d_member
			set 
			d_pw  = #{d_pw},
			d_email1 = #{d_email1},
			d_email2 = #{d_email2},
			d_email_check = #{d_email_check},
			d_zipcode = #{d_zipcode},
			d_address = #{d_address},
			d_phone1 = #{d_phone1},
			d_phone2 = #{d_phone2},
			d_phone3 = #{d_phone3},
			d_sms = #{d_sms},
			d_tel1 = #{d_tel1},
			d_tel2 = #{d_tel2},
			d_tel3 = #{d_tel3},
			d_birth_yy = #{d_birth_yy},
			d_birth_mm = #{d_birth_mm},
			d_birth_dd = #{d_birth_dd},
			d_sl = #{d_sl}
			where d_id  = #{d_id}
		</update>
		
		<!--아이디 중복 체크-->
		<select id="idChk" resultType="int">
			select count(*) from d_member
				where d_id = #{d_id}
		</select>
		
		<!-- 아이디찾기 -->
		<select id="find_id" parameterType="String" resultType="String">
			select d_id from d_member where d_email1 = #{d_email1}
		</select>
	

</mapper>